body {
  background-color: rgba(128, 128, 128, 0.307);
}
table {
  background-color: white;
  width: 80%;
  height: 600px;
  table-layout: fixed;
}
input {
  width: 98.8%;
  height: 100%;
}
textarea {
  max-width: 98.8%;
  max-height: 300px;
}
#email {
  width: auto;
}
