main {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}


.cta-button,
button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover,
button:hover {
    background-color: #c0392b;
}

form input,
form select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
