.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ff7700a3;
}

.logo {
  width: 140px;
  height: 140px;
}

.vertical-divider {
  width: 1px; 
  height: 60px; 
  background-color: #ccc; 
  margin: 20px; 
}
.vertical-divider2 {
  width: 1px;
  height: 60px; 
  background-color: #ccc;
  margin: 20px; 
}
p {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: rgb(2, 87, 2);
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-left: 40px;
}

nav a:hover {
  border-bottom: green solid;
}
.second {
  border: 5px green solid;
}
#container {
  background-color: #0345002d;
}

#picture {
  margin: 150px;
}
.Events {
  text-align: center;
}

.txt {
  float: left;
}
.icons {
  float: left;
}
