.div1
{
margin: 10px;
padding: 100px;
display:block ;
text-align: justify;
font-size: 18pt;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.td1
{
    text-align: center;
    width:50% ;
}
.table2
{
    text-align: center;
    width: 30%;
}
.table1
{
    text-align: center;
    width: 60%;
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;
}
.td2
{
    border: 1px solid green;
    width: 50%;
}
.center1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.table2
{
    text-align: center;
    width: 80%;
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;
}