div
{
margin: 10px;
padding: 100px;
display:block ;
text-align: justify;
font-size: 18pt;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
td
{
    text-align: center;
    width:50% ;
}

