header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ff7700a3;
    /*color:;*/
    padding: 20px;
    text-align: center;
}

img
{
    width: 100%;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

    

section {
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
}
h1, h2 {
    color: #2c3e50;
}
p {
    color: #555555;
    line-height: 1.6;
}
.requirements, .apply {
    background-color: #e9ecef;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
}
.apply-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #27ae60;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}
.apply-btn:hover {
    background-color: #1e8449;
}
.icons img {
    width: 20px;
    height: 20px;
}
